trunk/x360ce.App/Web References/com.x360ce.localhost/x360ce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://x360ce.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://x360ce.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://x360ce.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SaveSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Setting" />
            <s:element minOccurs="0" maxOccurs="1" name="ps" type="tns:PadSetting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Setting">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SettingId" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="InstanceGuid" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="InstanceName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductGuid" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DeviceType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileProductName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DateUpdated" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PadSettingChecksum" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="DateSelected" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PadSetting">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PadSettingChecksum" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="AxisToDPadDeadZone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AxisToDPadEnabled" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AxisToDPadOffset" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonB" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonBig" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonBack" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonGuide" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonStart" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ButtonY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPad" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPadDown" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPadLeft" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPadRight" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DPadUp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ForceEnable" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ForceOverall" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ForceSwapMotor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ForceType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GamePadType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftMotorPeriod" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftShoulder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbAntiDeadZoneX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbAntiDeadZoneY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbAxisX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbAxisY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbButton" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbDeadZoneX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbDeadZoneY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbDown" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbLeft" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbRight" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftThumbUp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftTrigger" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftTriggerDeadZone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PassThrough" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightMotorPeriod" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightShoulder" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbAntiDeadZoneX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbAntiDeadZoneY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbAxisX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbAxisY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbButton" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbDeadZoneX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbDeadZoneY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbDown" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbLeft" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbRight" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightThumbUp" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightTrigger" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RightTriggerDeadZone" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="args" type="tns:ArrayOfSearchParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSearchParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchParameter" nillable="true" type="tns:SearchParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchParameter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="InstanceGuid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileProductName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Settings" type="tns:ArrayOfSetting" />
          <s:element minOccurs="0" maxOccurs="1" name="Summaries" type="tns:ArrayOfSummary" />
          <s:element minOccurs="0" maxOccurs="1" name="PadSettings" type="tns:ArrayOfPadSetting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Setting" nillable="true" type="tns:Setting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Summary" nillable="true" type="tns:Summary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Summary">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SummaryId" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="Users" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PadSettingChecksum" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductGuid" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileProductName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DateUpdated" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPadSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PadSetting" nillable="true" type="tns:PadSetting" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchSettingsResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Setting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checksum" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadSettingResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendors">
        <s:complexType />
      </s:element>
      <s:complexType name="Vendor">
        <s:attribute name="VendorId" type="s:int" use="required" />
        <s:attribute name="VendorName" type="s:string" />
        <s:attribute name="ShortName" type="s:string" />
        <s:attribute name="WebSite" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfVendor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetVendorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVendorsResult" type="tns:ArrayOfVendor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingsData">
        <s:complexType />
      </s:element>
      <s:complexType name="SettingsData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Programs" type="tns:ArrayOfProgram" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProgram">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Program">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ProgramId" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileProductName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="HookMask" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="XInputMask" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InstanceCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="DateUpdated" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSettingsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingsDataResult" type="tns:SettingsData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrograms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isEnabled" nillable="true" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="minInstanceCount" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgramsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgramsResult" type="tns:ArrayOfProgram" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgram">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileProductName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgramResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgramResult" type="tns:Program" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProgram">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Program" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetProgramResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetProgramResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignOut">
        <s:complexType />
      </s:element>
      <s:complexType name="KeyValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignOutResult" type="tns:ArrayOfKeyValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignInResult" type="tns:ArrayOfKeyValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSetting" />
  </wsdl:message>
  <wsdl:message name="SaveSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSettingResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchSettings" />
  </wsdl:message>
  <wsdl:message name="SearchSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSettingSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSetting" />
  </wsdl:message>
  <wsdl:message name="DeleteSettingSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSettingResponse" />
  </wsdl:message>
  <wsdl:message name="LoadSettingSoapIn">
    <wsdl:part name="parameters" element="tns:LoadSetting" />
  </wsdl:message>
  <wsdl:message name="LoadSettingSoapOut">
    <wsdl:part name="parameters" element="tns:LoadSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetVendorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVendors" />
  </wsdl:message>
  <wsdl:message name="GetVendorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingsDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSettingsData" />
  </wsdl:message>
  <wsdl:message name="GetSettingsDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetProgramsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrograms" />
  </wsdl:message>
  <wsdl:message name="GetProgramsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProgramSoapIn">
    <wsdl:part name="parameters" element="tns:GetProgram" />
  </wsdl:message>
  <wsdl:message name="GetProgramSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgramResponse" />
  </wsdl:message>
  <wsdl:message name="SetProgramSoapIn">
    <wsdl:part name="parameters" element="tns:SetProgram" />
  </wsdl:message>
  <wsdl:message name="SetProgramSoapOut">
    <wsdl:part name="parameters" element="tns:SetProgramResponse" />
  </wsdl:message>
  <wsdl:message name="SignOutSoapIn">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="SignOutSoapOut">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:portType name="x360ceSoap">
    <wsdl:operation name="SaveSetting">
      <wsdl:input message="tns:SaveSettingSoapIn" />
      <wsdl:output message="tns:SaveSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchSettings">
      <wsdl:input message="tns:SearchSettingsSoapIn" />
      <wsdl:output message="tns:SearchSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSetting">
      <wsdl:input message="tns:DeleteSettingSoapIn" />
      <wsdl:output message="tns:DeleteSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadSetting">
      <wsdl:input message="tns:LoadSettingSoapIn" />
      <wsdl:output message="tns:LoadSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <wsdl:input message="tns:GetVendorsSoapIn" />
      <wsdl:output message="tns:GetVendorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSettingsData">
      <wsdl:input message="tns:GetSettingsDataSoapIn" />
      <wsdl:output message="tns:GetSettingsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrograms">
      <wsdl:input message="tns:GetProgramsSoapIn" />
      <wsdl:output message="tns:GetProgramsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgram">
      <wsdl:input message="tns:GetProgramSoapIn" />
      <wsdl:output message="tns:GetProgramSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetProgram">
      <wsdl:input message="tns:SetProgramSoapIn" />
      <wsdl:output message="tns:SetProgramSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sign out..</wsdl:documentation>
      <wsdl:input message="tns:SignOutSoapIn" />
      <wsdl:output message="tns:SignOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate user.</wsdl:documentation>
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="x360ceSoap" type="tns:x360ceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveSetting">
      <soap:operation soapAction="http://x360ce.com/SaveSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSettings">
      <soap:operation soapAction="http://x360ce.com/SearchSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSetting">
      <soap:operation soapAction="http://x360ce.com/DeleteSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSetting">
      <soap:operation soapAction="http://x360ce.com/LoadSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <soap:operation soapAction="http://x360ce.com/GetVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettingsData">
      <soap:operation soapAction="http://x360ce.com/GetSettingsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrograms">
      <soap:operation soapAction="http://x360ce.com/GetPrograms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgram">
      <soap:operation soapAction="http://x360ce.com/GetProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProgram">
      <soap:operation soapAction="http://x360ce.com/SetProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://x360ce.com/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://x360ce.com/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="x360ceSoap12" type="tns:x360ceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveSetting">
      <soap12:operation soapAction="http://x360ce.com/SaveSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSettings">
      <soap12:operation soapAction="http://x360ce.com/SearchSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSetting">
      <soap12:operation soapAction="http://x360ce.com/DeleteSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSetting">
      <soap12:operation soapAction="http://x360ce.com/LoadSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <soap12:operation soapAction="http://x360ce.com/GetVendors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettingsData">
      <soap12:operation soapAction="http://x360ce.com/GetSettingsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrograms">
      <soap12:operation soapAction="http://x360ce.com/GetPrograms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgram">
      <soap12:operation soapAction="http://x360ce.com/GetProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProgram">
      <soap12:operation soapAction="http://x360ce.com/SetProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://x360ce.com/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://x360ce.com/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="x360ce">
    <wsdl:port name="x360ceSoap" binding="tns:x360ceSoap">
      <soap:address location="http://localhost.x360ce.com/webservices/x360ce.asmx" />
    </wsdl:port>
    <wsdl:port name="x360ceSoap12" binding="tns:x360ceSoap12">
      <soap12:address location="http://localhost.x360ce.com/webservices/x360ce.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>